@import url('https://fonts.googleapis.com/css2?family=Lora:wght@600&family=Roboto:wght@400;700&display=swap');
* { box-sizing: border-box; }
body {
    background-color: rgb(229, 255, 254);
    color:rgba(33, 55, 74, 0.837);
    line-height: 1.7;
}
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}
.fulltxt {
    max-width: 850px;
    margin: 0 auto;
    padding: 0 10px;
}
h1, h2 {
    font-family: 'Lora', serif;
}
h2 {
    font-size: 2.2rem;
    text-align: center;
    margin-bottom: 40px;
}
h3 {
    font-size: 1.5rem;
    margin-top: 20px;
    margin-bottom: 15px;
    text-align: center;
}
p {
    margin-bottom: 20px;
}
.header {
    text-align: center;
}
.ll {
    margin-top: 20px;
    gap: 10px;
}
.ll span {
    border: 3px solid slategrey;
    padding: 3px 9px;
    border-radius: 4px;
}
.history {
    font-size: medium;
    text-align: center;
}
.bug-box {
    background-color: #34d852ad;
    padding: 30px;
    border-radius: 70px;
    border: 5px solid #fbff0099;
    margin-top: 20px;
}
.bug-box h4 {
    color: #A55233;
    margin-bottom: 20px;
}
.flex-grid {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}
.flex-item {
    flex: 1;
    min-width: 300px;
    border-top: 3px solid #00000034;
    padding-top: 20px;
}
.tag {
    color: #A55233;
    font-weight: bold;
    font-size: 0.9rem;
    display: block;
    margin-bottom: 10px;
}
.btn {
    display: inline-block;
    background-color: #2D2D2D;
    color: #FFFFFF;
    text-decoration: none;
    padding: 10px 24px;
    border-radius: 4px;
    font-weight: bold;
    margin-top: 20px;
    transition: 0.2s;
}
.so-what {
    margin-top: 20px;
    background-color: rgb(221, 255, 255);
    border: 2px solid rgb(0, 166, 255);
    border-radius: 20px;
    padding: 40px;
    text-align: center;
}
.small-margin {
    margin-top: 10px;
}